# ==========================================
# VOLUMI DOCKER
# ==========================================
ollama_data/
mariadb_data/

# ==========================================
# PYTHON & AMBIENTI VIRTUALI
# ==========================================
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# ==========================================
# DIPENDENZE E CACHE
# ==========================================
pip-log.txt
pip-delete-this-directory.txt
.cache/
.pytest_cache/

# ==========================================
# FILE DI SISTEMA (MacOS / Windows)
# ==========================================
.DS_Store
Thumbs.db
ehthumbs.db